#mapContainer {
	height: 80vh;
	position: relative;
	animation-duration: 1s;
	background-color: $darkPlum;
	margin-bottom: 2em;
}

#mapContainer {
	body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100vh;
    width: 100vw;
}
}

// Leaflet map loading Styles
.loading { 
	display: none;
 	z-index: 1000;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	background-color: rgba(182, 227, 85, 0);
 	opacity: 0;
 	position: absolute;
 	animation-duration: 1s;
 	.loading-icon {
 		display: flex;
 		justify-content: center;
 		align-content: center;
 		height: 100%;
 			div {
 			height: 200px;	
 			align-self: center;
		 		img {
		 			width: 125px;
		 			animation-duration: 2s;
		 			opacity: 1;
		 			margin-bottom: 15px;
		 		}
		 		p {
		 			animation-duration: 3s;
		 			margin: 0;
		 			font-family: '$headingFont';
		 		}	
 			}
 	}
}


// Popup Styles 

.leaflet-popup-content {
	max-width: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5px;
		a {
			text-decoration: none;
			h2 {
				margin: 0;
				font-family: $headingFont;
				color: #228942;
			}
			h2:hover {
				color: #a5d049;
			}
			p.cuisine {
				color: #228942;
			}
			p {
				margin: 0;
				color: #5C3A53;
				font-family: $headingFont;
				font-size: 14px;
				letter-spacing: 0px;
			}
		}
		a:hover {
			color: $plum;
		}
}


.image-popup {
	width: 100%;
	height: 100px;
	object-fit: cover;
	transition: all ease 0.3s;
}

.image-popup:hover {
	opacity: 0.5;
}


/* Landscape phones and down */
@media (max-width: 480px) {
	body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100vh;
    width: 100vw;
}
	}
}




