section.wines{
	padding: 4em 0;
	width: 50%;	
}

.wrapper {
	width: 95%;
	margin: 0 auto;
}

.wines-filter {
	position: relative;
	h3 {
		text-align: center;
	}
}

.wines button{
	padding: 10px 15px;
	border: 3px solid $darkPlum;
	letter-spacing: 2px;
	border-radius: 10px;
	color: $darkPlum;
	outline: rgba(255, 255, 255, 0.25);
	transition: all 1s;
	margin-right: 20px;
	&:hover{
		background-color: $darkPlum;
		color: white;
	}
}

button.selected{
	margin-right: 0;
}

.filter-bar{
	margin-bottom: 20px;
}

.wines button.filter--selected,
.wines button.select-filter--selected{
	background-color: $darkPlum;
	color: white;
}


.section-title{
	h2{
		font-family: $headingFont;
		margin-bottom: 25px;
		font-size: 45px;
		letter-spacing: 2px;
		color: $darkPlum;
		text-transform: uppercase;
	}
}

.filter-bar {
	position: relative;
	display: inline-block;
	.filter {
		margin-right: 15px;
		&:last-child {
			margin-right: 0px;
		}
		&--selected {

		}
	}
}

.wines-inventory {
	width: 100%;
}

.wine-inventory_append {
	max-width: 30%;
	float: left;
	clear: both;
	img{
		max-width: 100%;
	}
}

.wine-item {
	position: relative;
	float: left;
	margin: 5px;
	width: calc(33.33% - 10px);
	transition: all 0.3s;
	border: 3px solid transparent;
	&--selected {
		border: 3px solid $darkPlum;
	}
	&__img {
		// position: absolute;
		position: relative;
		top: 0;
		opacity: 1;
	}
	&__info {
		position: absolute;
		top: 0; right:0;
		bottom:0; left:0;
		background-color: rgba(109, 56, 78, 0.9);
		opacity: 0;
		transition: opacity 0.5s;
	}
	&__name {
		position: relative;
		text-align: center;
		margin: 1.1em;
		height: 3em;
		h4 {
			position: relative;
		}
	}
}

.wine-item__info{
	// display: none;
}

.p-info {
	position: absolute;
	width: 100%;
	p {
		font-family: $headingFont;
		letter-spacing: 1px;
		color: white;
		margin-bottom: 6px;
		text-align: center;
		font-size: 16;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}

.wine-item:hover .wine-item__info{
	opacity: 1;
}

.wines-filter{
	h3{
		font-family: $headingFont;
		margin-bottom: 15px;
		font-size: 20px;
		letter-spacing: 2px;
		color: $darkPlum;
		text-transform: uppercase;
	}
}

.collection{
	border-top: 5px solid $darkPlum;
}

button.collection_smoothScroll{
	clear: both;
	width: auto;
	display: block;
	margin: auto;
}


