.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wines-filter {
	position: relative;
	h3 {
		text-align: center;
	}
}

.wines button{
	padding: 10px 15px;
	border: 3px solid $darkPlum;
	letter-spacing: 2px;
	border-radius: 10px;
	color: $darkPlum;
	outline: rgba(255, 255, 255, 0.25);
	transition: all 1s;
	margin-right: 20px;
	width: 100px;
	&:hover{
		background-color: $darkPlum;
		color: white;
	}
}

.wines button.filter--selected{
	background-color: $darkPlum;
	color: white;
}

.filter-bar {
	position: relative;
	display: inline-block;
	.filter {
		margin-right: 15px;
		&:last-child {
			margin-right: 0px;
		}
		&--selected {

		}

	}
}

.wines-inventory {
	width: 100%;
}

.wine-inventory_append{
	max-width: 30%;
	float: left;
	clear: both;
	img{
		max-width: 100%;
	}
}

.wine-item {
	position: relative;
	float: left;
	width: 33.33%;
	// padding-top: 33.33%; // change this to fit whatever aspect ratio we want
	overflow: hidden;
	&__img {
		// position: absolute;
		position: relative;
		top: 0;
		opacity: 1;
	}
	&__info {
		position: absolute;
		top: 0; right:0;
		bottom:0; left:0;
		background-color: rgba(109, 56, 78, 0.9);
		opacity: 0;
		transition: opacity 0.5s;
	}
}

.wine-item__info{
	// display: none;
	
}

.p-info {
	position: absolute;
	p {
		color: white;
		text-align: center;
		font-size: 16;
	}
}

.wine-item:hover .wine-item__info{
	opacity: 1;
}